body {
  font-family: arial, sans-serif;
}

h1 {
  color: #6c717a;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #6c717a;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}
.row .shadow-sm {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  border-color: #ffffff;
  border-radius: 10px;
  color: #35302f;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.row .shadow-sm:hover {
  color: #5e4844;
  cursor: pointer;
  font-size: 17px;
  border-color: #ffffff;
}
.overview {
  margin-bottom: 20px;
}

.weather-icon img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-icon strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-icon .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-icon .active {
  color: #191e26;
  cursor: default;
}

.weather-icon .active:hover {
  text-decoration: none;
}
